/*cor de fundo do home, contatos...*/
.nav-top {
    background-color: rgba(69, 70, 124)  !important;
}

/*cor dos nomes Home, contatos...*/
.nav-link {
    color: white !important;
}

/*rodapé*/
footer {
    background-color: rgba(69, 70, 124)  !important;
    color: white !important; 
    text-align: center !important;
}

.car-img {
    max-height: 40em !important;
}

.carousel-caption {
    background-color: rgba(151, 152, 202, 0.739) !important;
}

/*DIVISÃO CONHEÇA O TOCANTIS E FALE CONOSCO */
.divisao {
    background-color: rgb(69, 70, 124) !important;
    text-align: center !important;
    color: white !important;
    padding: 2em !important;
}

.sec-pacotes {
    /*CENTRALIZAR IMAGEM*/
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 1% !important;
}

/*ajustar os cards que aparecem ds fotos pequenas*/
.card {
    padding: 1% !important;
    margin: 0% 1% 1% !important;
}

/*ajuste o noem das cidades text*/
.card p {
    text-align: justify !important;
}

/*cor dos nomes da cidade*/
.card h4 {
    color: rgb(22, 20, 20) !important;
}

/*Contatos*/
.sec-contato {
    margin-bottom: 10% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    background-color: rgb(151, 152, 202, 0.739);
    margin: 3% !important;
    border-radius: 2em !important;
    margin-bottom: 10% !important;
}

.links {
    text-align: center;
    padding: 1em;
    color: rgb(0, 0, 0);
}

.mapa {
    margin-top: 5% !important;
}